# Node modules
node_modules/

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory / Foundry cache
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Foundry build output
/out
/broadcast
.forge-snapshots/
.gas-snapshot

# Local environment variables
.env

# macOS system files
.DS_Store
**/.DS_Store
